@font-face {
    font-family: "Value Regular";
    src: url("/assets/fonts/value/value-regular-web.eot");
    src: url("/assets/fonts/value/value-regular-web.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/value/value-regular-web.woff") format("woff"),
         url("/assets/fonts/value/value-regular-web.ttf") format("truetype"),
         url("/assets/fonts/value/value-regular-web.svg#Value-Regular") format("svg");
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "Value Medium";
    src: url("/assets/fonts/value/value-medium-web.eot");
    src: url("/assets/fonts/value/value-medium-web.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/value/value-medium-web.woff") format("woff"),
         url("/assets/fonts/value/value-medium-web.ttf") format("truetype"),
         url("/assets/fonts/value/value-medium-web.svg#Value-Medium") format("svg");
    font-style: normal;
    font-stretch: normal;
}