/******************************************************************************
 * Columns
*******************************************************************************/
.-column {
    display: inline-block;
    vertical-align: middle;
    }


@each $col in $grid-columns {
    .-column--#{$col}of#{$grid-length} {
        width: percentage( $col / $grid-length );
        }
}


.-column--1of3 { width: 33.33333%; }
.-column--1of4 { width: 25%; }
.-column--2of3 { width: 66.66666%; }
.-column--2of4 { width: 50%; }
.-column--3of4 { width: 75%; }
.-column--1of5 { width: 20%; }
.-column--2of5 { width: 40%; }
.-column--3of5 { width: 60%; }
.-column--4of5 { width: 80%; }


/******************************************************************************
 * Containers
*******************************************************************************/
.wrapper {
    padding-left: $wrapper-padding;
    padding-right: $wrapper-padding;
    }
.expander {
    padding-bottom: $expander-padding;
    padding-top: $expander-padding;
    }
.expander-top {
    padding-top: $expander-padding;
    }
.expander-bottom {
    padding-bottom: $expander-padding;
    }


/******************************************************************************
 * Alignments
*******************************************************************************/
.ghost {
    font-size: 0;

    &:before {
        content: "";
        display: inline-block;
        height: 100%;
        margin-left: -1px;
        vertical-align: middle;
        width: 1px;
        }
}
.ghost__child {
    display: inline-block;
    vertical-align: middle;
    }



/******************************************************************************
 * Grids
*******************************************************************************/
.grid {
    font-size: 0;
    margin: 0;
    padding-bottom: 0;
    padding-left: $grid-padding;
    padding-right: $grid-padding;
    position: relative;
    width: auto;
    }
.grid--index {}
.grid__item {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 33.33333%;
    }
.grid__item__small {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 16.666666667%;
    }
.grid__photo {
    display: inline-block;
    padding-bottom: 100%;
    width: 100%;
        //outline: 1px solid red;

    .image {
        left: 50%;
        padding-left: $grid-padding;
        padding-right: $grid-padding;
        position: absolute;
        top: 50%;
        transform: translate3d( -50%, -50%, 0 );
        }
    .image--tall {
        height: 100%;
        padding-bottom: $grid-padding;
        padding-top: $grid-padding;
        width: auto;
        }
    .image--wide {
        height: auto;
        width: 100%;
        }
}
.grid__photo--small {
    .image {
        padding-left: ($grid-padding / 2);
        padding-right: ($grid-padding / 2);
        }
    .image--tall {
        padding-bottom: ($grid-padding / 2);
        padding-top: ($grid-padding / 2);
        }
}