/******************************************************************************
 * Meta Data
*******************************************************************************/
.meta {
    @include meta();
    }



/******************************************************************************
 * Emphasis
*******************************************************************************/
.em {
    @include b();
    }



/******************************************************************************
 * Paragraphs
*******************************************************************************/
.p {
    @include p();
    }



/******************************************************************************
 * Buttons
*******************************************************************************/




/******************************************************************************
 * Links
*******************************************************************************/
.a {
    @include a();
    }



/******************************************************************************
 * Headlines
*******************************************************************************/
.h1 {
    @include h1();
    }
.h2 {
    @include h2();

    a {
        border-bottom: 5px solid $black;
        }

    p + p {
        margin-top: 50px;
        }
}
.h3 {
    @include h3();

    strong {
        font-weight: 600;
        }
    }