/******************************************************************************
 * Fonts: Util
*******************************************************************************/
@mixin font-normal() {
    font-stretch: normal;
    font-style: normal;
}



/******************************************************************************
 * Fonts: Sans-serif
*******************************************************************************/
@mixin font-sans-text() {
    font-family: $sans-serif-text;
    @include font-normal();
}
@mixin font-sans-text-medium() {
    font-family: $sans-serif-text-medium;
    @include font-normal();
}



/******************************************************************************
 * Type
*******************************************************************************/
@mixin meta() {
    color: $black;
    font-size: $meta-size;
    line-height: 1.444444;
    @include font-sans-text();
}
@mixin b() {
    @include font-sans-text-medium();
}
@mixin p() {
    font-size: $p-size;
    line-height: 2.22222222;
    @include font-sans-text();
}
@mixin a() {
    color: $black;
    display: inline;
    font-size: $p-size;
    line-height: 2.22222222;
    text-decoration: none;
    @include font-sans-text();
}
@mixin h1() {
    display: inline-block;
    font-size: $h1-size;
    font-weight: 600;
    line-height: 1.25;
    @include font-sans-text-medium();
}
@mixin h2() {
    font-size: $h2-size;
    font-weight: 600;
    line-height: 1.2;
    @include font-sans-text-medium();
}
@mixin h3() {
    font-size: $h3-size;
    line-height: 1.2;
    @include font-sans-text-medium();
}



/******************************************************************************
 * Layout / Spacing
*******************************************************************************/
@mixin layout-frame() {
    padding: $header-fix-height ($photos-padding / 2) 0;
}



/******************************************************************************
 * Blocks
*******************************************************************************/
@mixin block-transition() {
    opacity: 0;
    transform: translate3d( 0, $nudge-size, 0 );
    transition: opacity $long-duration $ease-out,
                transform $base-duration $ease;

    &.is-active {
        opacity: 1;
        transform: translate3d( 0, 0, 0 );
        }
}