/******************************************************************************
 * Fonts
*******************************************************************************/
$sans-serif-text: "Value Regular";
$sans-serif-text-medium: "Value Medium";



/******************************************************************************
 * Colors
*******************************************************************************/
$black: #000;
$white: #fff;
$grey-bg: #f1f1f1;



/******************************************************************************
 * Grid
*******************************************************************************/
$grid-length: 12;
$grid-columns: 12 11 10 9 8 7 6 5 4 3 2 1;



/******************************************************************************
 * Spacing
*******************************************************************************/
$bump-size: 80px;
$nudge-size: 40px;
$expander-padding: 160px;
$photos-padding: 8.3461538462%;
$spacer-padding: 8.3461538462%;
$wrapper-padding: (8.3461538462% / 2);
$header-fix-height: 90px;
$mobile-padding: 30px;
$grid-padding: 45px;



/******************************************************************************
 * Sizes
*******************************************************************************/




/******************************************************************************
 * Typography
*******************************************************************************/
$p-size: 18px;
$meta-size: 16px;
$h1-size: 5vw;
$h2-size: 50px;
//$h2-size: 2.5vw;
$h3-size: 30px;
$h4-size: 25px;



/******************************************************************************
 * Breakpoints
*******************************************************************************/
$break-desktop-large: 2200px;
$break-desktop: 1920px;
$break-laptop-full: 1680px;
$break-laptop-medium: 1440px;
$break-tablet-full: 1280px;
$break-tablet-medium: 1024px;
$break-tablet-small: 768px;
$break-mobile-full: 640px;
$break-mobile-medium: 480px;
$break-mobile-small: 320px;



/******************************************************************************
 * Animations
*******************************************************************************/
$ease: ease;
$ease-in: ease-in;
$ease-out: ease-out;
$ease-in-out: ease-in-out;
$ease-cubic: cubic-bezier( 0.55, 0.055, 0.675, 0.19 );
$ease-cubic-sharp: cubic-bezier( 0.77, 0, 0.175, 1 );
$long-duration: 600ms;
$base-duration: 400ms;
$midi-duration: 300ms;
$fast-duration: 200ms;



/******************************************************************************
 * Layering
*******************************************************************************/
$z_layer_10: 100;
$z_layer_09: 90;
$z_layer_08: 80;
$z_layer_07: 70;
$z_layer_06: 60;
$z_layer_05: 50;
$z_layer_04: 40;
$z_layer_03: 30;
$z_layer_02: 20;
$z_layer_01: 10;
$z_layer_behind: -1;
$z_layer_infront: 1000;