/******************************************************************************
 * User Agent
*******************************************************************************/
::-webkit-scrollbar {
    display: none;
    }


/******************************************************************************
 * Document
*******************************************************************************/
html {
    background-color: $white;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    }
body {
    background-color: $white;
    color: $black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
    -webkit-touch-callout: none;
    @include font-sans-text();
    }
html,
body {
    height: 100%;
    }
a {
    color: inherit;
    text-decoration: none;
    }


/******************************************************************************
 * Box Sizing
*******************************************************************************/
*,
*:before,
*:after {
    box-sizing: inherit;
    }