@media only screen and ( max-width: $break-laptop-medium ) {
    .grid__item {
        width: 50%;
        }
}



@media only screen and ( max-width: $break-tablet-small ) {
    .grid__item {
        padding-bottom: $grid-padding;
        width: 100%;
        }
}



@media only screen and ( max-width: $break-mobile-full ) {
    .main {
        &#is-main--about {
            transform: translate3d( 100vw, 0, 0 );
        }

        &#is-main--index {
            transform: translate3d( -100vw, 0, 0 );
        }
    }
    .main__panel--about,
    .main__panel--index {
        width: 100vw;
        }

    .h3 {
        font-size: 16px;
        }
    .header {
        padding-left: $grid-padding;
        padding-right: $grid-padding;
        }

    .-topper {
        padding-top: 200px;
        }

    .index.grid .grid__photo {
        padding-bottom: 0;

        .image {
            left: auto;
            padding-left: 0;
            padding-right: 0;
            position: relative;
            top: auto;
            transform: none;
            }
        .image--tall,
        .image--wide {
            height: auto;
            width: 100%;
            }
        .image--tall {
            padding-bottom: 0;
            padding-top: 0;
            }
    }

    .listing .grid__photo {}
    .listing__grid {
        //margin: 0;
        padding-left: 45px;
        padding-right: 45px;
        }
    .listing__tile {
        width: 50%;
        }
}