@media only screen and ( max-width: $break-laptop-medium ) {
    .grid__item {
        width: 50%;
        }
}



@media only screen and ( max-width: $break-mobile-full ) {
    .grid {
        padding-left: $mobile-padding;
        padding-right: $mobile-padding;
        }
    .grid__item {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        }
}