@media only screen and ( max-width: $break-laptop-medium ) {
    .grid__item {
        width: 50%;
        }
}



@media only screen and ( max-width: $break-mobile-full ) {
    .h3 {
        font-size: 16px;
        }
    .header {
        padding-left: $grid-padding;
        padding-right: $grid-padding;
        }
    .grid__item {
        padding-bottom: $grid-padding;
        width: 100%;
        }
    .grid__photo {
        padding-bottom: 0;

        .image {
            left: auto;
            padding-left: 0;
            padding-right: 0;
            position: relative;
            top: auto;
            transform: none;
            }
        .image--tall,
        .image--wide {
            height: auto;
            width: 100%;
            }
    }
}