/******************************************************************************
 * States
*******************************************************************************/
.is-neverflow {
    overflow: hidden;
}

.is-clipped {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

.is-scrolling {
    pointer-events: none;
}

.is-scrolling-up {
}

.is-scrolling-down {
}

.is-routing {
}

.is-offcanvas {
/*
    .header__nav--about,
    .header__nav--index {
        opacity: 0;
        pointer-events: none;
        }
*/
}

.is-offcanvas--about {
    .header__nav--about {
        pointer-events: none;
        visibility: hidden;
        }
    .nav__back--left {
        display: block;
        }
}

.is-offcanvas--index {
    .header__nav--index {
        pointer-events: none;
        visibility: hidden;
        }
    .nav__back--right {
        display: block;
        }
}

.is-menu-open {
    .overlay {
        background-color: $white;
        }
}