/******************************************************************************
 * States
*******************************************************************************/
.is-neverflow {
    overflow: hidden;
}

.is-clipped {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

.is-scrolling {
    pointer-events: none;
}

.is-scrolling-up {
}

.is-scrolling-down {
}

.is-routing {
}

.is-offcanvas {
    .header__nav--about,
    .header__nav--index {
        opacity: 0;
        pointer-events: none;
        }
}