.main {
    font-size: 0;
    position: relative;
    text-align: center;

    &#is-main--garberco {
        .main__panel--garberco {
            overflow: auto;
            position: relative;
            }
    }

    &#is-main--about {
        .main__panel--about {
            overflow: auto;
            position: relative;
            transform: translate3d( 0, 0, 0 );
            }
        .main__panel--garberco {
            transform: translate3d( 100%, 0, 0 );
            }
    }

    &#is-main--index {
        .main__panel--index {
            overflow: auto;
            position: relative;
            transform: translate3d( -100%, 0, 0 );
            }
        .main__panel--garberco {
            transform: translate3d( -100%, 0, 0 );
            }
    }
}
.main__panel {
    background-color: $white;
    height: 100%;
    overflow: hidden;
    position: fixed;
    transition: transform $base-duration $ease-cubic-sharp;
    text-align: left;
    top: 0;
    width: 100%;
    }
.main__panel--about {
    left: 0;
    transform: translate3d( -100%, 0, 0 );
    }
.main__panel--index {
    left: 100%;
    }
.main__panel--garberco {
    left: 0;
    }



.about {
    padding-bottom: 90px;
    padding-top: 30vh;
    }
.about__main {
    max-width: 80%;
    width: 100%;
    }



.listing {
    text-align: center;
    }
.listing__grid {
    margin-bottom: $expander-padding;
    margin-left: -($grid-padding / 2);
    margin-right: -($grid-padding / 2);
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    }
.listing__title {
    margin-bottom: 20px;
    }
.listing__tile {
    cursor: pointer;
    }
.listing__title__text {
    }



.gallery {
    user-select: none;
    }
.gallery__figure {}
.gallery__image {
    height: auto;
    max-height: 80vh;
    max-width: 80vw;
    width: auto;
    }