/******************************************************************************
 * Nav Menu
*******************************************************************************/
.nav {
    font-size: 0;
    }
.nav__ul {
    display: inline-block;
    line-height: 1;
    }
.nav__li {
    }
.nav__a {
    }