$screen-wrap-delay: ($midi-duration / 2);


.screen {
    background-color: $white;
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity $midi-duration $ease,
                transform $base-duration $ease-cubic-sharp;
    z-index: $z_layer_infront;

    &.is-active {
        opacity: 1;
        -webkit-overflow-scrolling: touch;
        }
    }



// Variant screens
.overlay {
    background-color: transparent;
    pointer-events: none;

    &.is-intro {
        background-color: $white;
        }
    }
.project-view {
    background-color: transparent;
    opacity: 1;
    transform: translate3d( 0, 100%, 0 );
    z-index: $z_layer_09;

    &.is-active {
        transform: translate3d( 0, 0, 0 );
        }
    &.is-inactive {
        overflow: hidden;
        transform: translate3d( 0, -100%, 0 );
        }
    }
.project-view__pane {
    background-color: $white;
    min-height: 100%;
    }