/******************************************************************************
 * Main applet
*******************************************************************************/
.main {
    font-size: 0;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;

    &#is-main--about {
        .main__panel--about {
            transform: translate3d( 0, 0, 0 );
            }
        .main__panel--garberco {
            transform: translate3d( 100%, 0, 0 );
            }
    }

    &#is-main--index {
        .main__panel--index {
            transform: translate3d( -100%, 0, 0 );
            }
        .main__panel--garberco {
            transform: translate3d( -100%, 0, 0 );
            }
    }
}
.main__panel {
    background-color: $white;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    transition: transform $base-duration $ease-cubic-sharp;
    text-align: left;
    top: 0;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    }
.main__panel--about {
    left: 0;
    transform: translate3d( -100%, 0, 0 );
    }
.main__panel--index {
    left: 100%;
    }
.main__panel--garberco {
    left: 0;
    }



/******************************************************************************
 * About offcanvas
*******************************************************************************/
.about {
    padding-bottom: 90px;
    padding-top: 30vh;
    }
.about__main {
    max-width: 80%;
    width: 100%;
    }
.about__col {
    .h3 {
        line-height: 1.4;
        }
}



/******************************************************************************
 * Full Index offcanvas
*******************************************************************************/
.listing {
    text-align: center;
    }
.listing__grid {
    margin-bottom: $expander-padding;
    margin-left: -($grid-padding / 2);
    margin-right: -($grid-padding / 2);
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    }
.listing__title {
    margin-bottom: 20px;
    }
.listing__tile {
    cursor: pointer;
    }



/******************************************************************************
 * Gallery view
*******************************************************************************/
.gallery {
    cursor: url( /assets/imgs/x.png ) 0 0, auto;
    pointer-events: none;
    user-select: none;

    &.is-active-events {
        pointer-events: auto;
        }

    &.is-title {
        cursor: url( /assets/imgs/arrow-right.png ) 0 0, auto;
        }
    }
.gallery__figure {
    position: relative;
    width: auto;

    &:after,
    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50%;
        z-index: $z_layer_01;
        }
    &:after {
        cursor: url( /assets/imgs/arrow-right.png ) 0 0, auto;
        right: 0;
        }
    &:before {
        cursor: url( /assets/imgs/arrow-left.png ) 0 0, auto;
        left: 0;
        }
}
.gallery__image {
    height: auto;
    max-height: 80vh;
    max-width: 80vw;
    position: relative;
    transform: translate3d( 0, 0, 0 );
    width: auto;
    }
.gallery__video {
    display: none;
    width: 80vw;
    }



.gallery.is-video {
    .gallery__image {
        display: none;
        }
    .gallery__video {
        display: inline-block;
        }
}



/******************************************************************************
 * Load bar
*******************************************************************************/
.bar {
    font-size: 0;
    height: 2px;
    left: 0;
    position: fixed;
    text-align: left;
    top: 0;
    transform: translate3d( 0, 0, 0 );
    transition: transform $base-duration $ease-cubic;
    width: 100%;
    z-index: $z_layer_infront;

    &.is-done {
        transform: translate3d( 0, -100%, 0 );
        }
    }
.bar__inner {
    background-color: $black;
    display: inline-block;
    height: 100%;
    width: 0;
    }
