.project {
    margin-bottom: 100vh;
    min-height: 100vh;
    }
.project__image,
.project__diptych {
    font-size: 0;
    padding-bottom: $expander-padding;
    padding-top: $expander-padding;
    text-align: center;
    }
.project__image:first-child,
.project__diptych:first-child {
    padding-top: 0;
    }
.project__image--full {
    // Inherits .image native
    }
.project__image--full:last-child {
    padding-bottom: 0;
    }

// Wide to match padding of ".project__diptych--gutters-even"
.project__image--wide {
    .image {
        padding-left: $photos-padding;
        padding-right: $photos-padding;
        width: 100%;
        }
}

// Three-quarter centered
.project__image--threeq {
    text-align: center;

    .image {
        width: 75%;
        }
}
.project__image--threeq-left {
    text-align: left;

    .image {
        width: 75%;
        }
}
.project__image--threeq-right {
    text-align: right;

    .image {
        width: 75%;
        }
}

// One-half padded or flush
.project__image--half {
    .image {
        width: 50%;
        }
}
.project__image--half-left {
    text-align: left;

    .image {
        width: 50%;
        }
}
.project__image--half-right {
    text-align: right;

    .image {
        width: 50%;
        }
}
.project__image--half-left-pad {
    text-align: left;

    .image {
        margin-left: $photos-padding;
        width: 50%;
        }
}
.project__image--half-right-pad {
    text-align: right;

    .image {
        margin-right: $photos-padding;
        width: 50%;
        }
}

// One-thirds always padded
.project__image--third {
    .image {
        width: 33.33333%;
        }
}
.project__image--third-left {
    text-align: left;

    .image {
        margin-left: $photos-padding;
        width: 33.33333%;
        }
}
.project__image--third-right {
    text-align: right;

    .image {
        margin-right: $photos-padding;
        width: 33.33333%;
        }
}

// Diptychs
.project__diptych--small-left {
    .diptych__left {
        padding-left: $photos-padding;
        padding-right: $photos-padding;
        width: 50%;
        }
    .diptych__right {
        width: 50%;
        }
}
.project__diptych--small-right {
    .diptych__left {
        width: 50%;
        }
    .diptych__right {
        padding-left: $photos-padding;
        padding-right: $photos-padding;
        width: 50%;
        }
}
.project__diptych--lean-left {
    padding-top: ($photos-padding * 2);

    .diptych__left {
        margin-top: -($photos-padding * 2);
        padding-right: ($photos-padding / 8);
        width: 50%;
        }
    .diptych__right {
        padding-left: ($photos-padding / 8);
        width: 50%;
        }
}
.project__diptych--lean-right {
    padding-top: ($photos-padding * 2);

    .diptych__left {
        padding-right: ($photos-padding / 8);
        width: 50%;
        }
    .diptych__right {
        margin-top: -($photos-padding * 2);
        padding-left: ($photos-padding / 8);
        width: 50%;
        }
}
.project__diptych--gutter-center {
    .diptych__left {
        padding-right: ($photos-padding / 8);
        width: 50%;
        }
    .diptych__right {
        padding-left: ($photos-padding / 8);
        ;
        width: 50%;
        }
}
.project__diptych--full-center {
    .diptych__left {
        width: 50%;
        }
    .diptych__right {
        width: 50%;
        }
}
.project__diptych--overlap-left  {
    position: relative;
    text-align: left;

    .diptych__left {
        padding-left: $photos-padding;
        position: relative;
        width: 66.66666%;
        }
    .diptych__right {
        margin-left: -$photos-padding;
        position: relative;
        width: 33.33333%;
        z-index: $z_layer_01;
        }
}
.project__diptych--overlap-right  {
    position: relative;
    text-align: right;

    .diptych__left {
        margin-right: -$photos-padding;
        position: relative;
        width: 33.33333%;
        z-index: $z_layer_01;
        }
    .diptych__right {
        padding-right: $photos-padding;
        position: relative;
        width: 66.66666%;
        }
}
.project__diptych--gutter-thirds {
    .diptych__left {
        margin-right: ($photos-padding / 8);
        width: 33.33333%;
    }
    .diptych__right {
        margin-left: ($photos-padding / 8);
        width: 33.33333%;
    }
}
.project__diptych--gutters-even {
    text-align: left;

    &.is-right {
        text-align: right;
        }

    .diptych__left,
    .diptych__right {
        width: 50%;
        }
    .diptych__left {
        padding-left: $photos-padding;
        padding-right: #{"calc( ~\"#{$photos-padding} / 2\" )"};
        }
    .diptych__right {
        padding-left: #{"calc( ~\"#{$photos-padding} / 2\" )"};
        padding-right: $photos-padding;
        }
}

// Diptychs with text
.project__diptych--text {
    .is-text {
        padding-left: $photos-padding;
        padding-right: $photos-padding;
        }

    .diptych__left,
    .diptych__right {
        width: 50%;
        }
}
.project__diptych--text--pad {
    .is-image {
        padding-left: $photos-padding;
        padding-right: $photos-padding;
        }
}
