/******************************************************************************
 * Background Images
*******************************************************************************/
.-cover {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    }
.-cover--top {
    background-position: 50% 0;
    }
.-cover--right {
    background-position: 100% 50%;
    }
.-cover--bottom {
    background-position: 50% 100%;
    }
.-cover--left {
    background-position: 0 50%;
    }



/******************************************************************************
 * Typography
*******************************************************************************/
.-text--center {
    text-align: center;
    }
.-text--right {
    text-align: right;
    }
.-text--left {
    text-align: left;
    }



.-spacer {
    width: $spacer-padding;
    }
.-valign-top {
    vertical-align: top;
    }
.-topper {
    padding-top: ($expander-padding + 90px);
    }
.-nopad {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    }
