@media only screen and ( max-width: $break-laptop-full ) {
    .h1 {
        font-size: 120px;
        }
}



@media only screen and ( max-width: $break-laptop-medium ) {
    .header {
        padding-left: $grid-padding;
        padding-right: $grid-padding;
        }
    .index.grid {
        padding-left: 0;
        padding-right: 0;
        }

    .h2 {
        font-size: 50px;
        }

    .about__main {
        max-width: 100%;
        }

    .project__image,
    .project__diptych {
        padding-bottom: 90px;
        padding-top: 90px;
        }
}



@media only screen and ( max-width: $break-tablet-full ) {
    .h1 {
        font-size: 100px;
        }
}



@media only screen and ( max-width: 1200px ) {
    .grid__item {
        padding-bottom: 0;
        width: 50%;
        }
    .grid__item__small {
        width: 25%;
        }
}



@media only screen and ( max-width: $break-tablet-medium ) {
    .h1 {
        font-size: 80px;
        }
    .about__col {
        width: 100%;
        }
    .about__col + .about__col {
        margin-top: 90px;
        }

    .info__text {
        padding-left: $grid-padding / 2;
        padding-right: $grid-padding / 2;
        max-width: 100%;
        width: 100%;
        }
}



@media only screen and ( max-width: $break-tablet-small ) {

}



@media only screen and ( max-width: $break-mobile-full ) {
    .h1 {
        font-size: 36px;
        font-weight: inherit;
        }
    .h2 {
        font-size: 30px;
        font-weight: inherit;

        a {
            border-bottom-width: 2px;
            }
    }

    .-topper {
        padding-top: 200px;
        }

    .overlay {
        padding-left: $grid-padding / 2;
        padding-right: $grid-padding / 2;
        }

    .grid__item {
        padding-bottom: $grid-padding * 2;
        width: 100%;
        }
    .grid__title {
        padding-top: 20px;
        display: inline-block;
        }

    .header {
        padding-left: $grid-padding / 2;
        padding-right: $grid-padding / 2;
        padding-top: 50px;
        }
    .header__nav,
    .nav__back--info {
        font-size: 18px;
        }

    .icon--x,
    .icon--arrow-left,
    .icon--arrow-right {
        svg {
            height: 14px;
            }
    }
    .icon--garberco {
        svg {
            height: 20px;
            }
    }
    .icon--garberco--intro {
        svg {
            height: 40px;
            }
    }

    .index.grid {
        padding-left: $grid-padding / 2;
        padding-right: $grid-padding / 2;
        text-align: center;
        }

    .index.grid .grid__photo {
        padding-bottom: 0;

        .image {
            left: auto;
            position: relative;
            top: auto;
            transform: none;
            }
        .image--wide {
            max-width: 100%;
            width: 100%;
            }
        .image--tall {
            height: 85vw;
            }
    }

    .project__image,
    .project__diptych {
        padding-bottom: 40px;
        padding-top: 40px;
        }
    .project__diptych--text {
        .diptych__left,
        .diptych__right {
            width: 100% !important;
            }
        .diptych__right {
            margin-top: 40px;
            }
    }

    .diptych__left.is-text {
        display: none;
        }
    .diptych__mobile__text__right {
        display: inline-block;
        }

    .about,
    .index,
    .listing {
        padding-left: $grid-padding / 2;
        padding-right: $grid-padding / 2;
        }
    .listing {
        padding-top: 100px;
        }
    .listing__title {
        display: none;
        }
    .listing__tile {
        width: 50%;
        }
    .listing__grid {
        margin-bottom: 0;
        }

    .gallery {
        padding: 0;
        }
    .gallery__image {
        max-height: 100vh;
        max-width: 100vw;
        }
    .gallery__video {
        width: 100vw;
        }
}
