/******************************************************************************
 * States
*******************************************************************************/
.is-neverflow {
    overflow: hidden;
}

.is-clipped {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

.is-offcanvas--about {
    .header__nav--index,
    .header__nav--about {
        pointer-events: none;
        visibility: hidden;
        }
    .nav__back--arrow-left {
        display: block;
        }
}


.hide-index{
    .header__nav--index {
      pointer-events: none;
      visibility: hidden;
      }
}

.is-offcanvas--index {
    .header__nav--about,
    .header__nav--index {
        pointer-events: none;
        visibility: hidden;
        }
    .nav__back--arrow-right {
        display: block;
        }
}

.is-offcanvas--project {
    .header__nav--about,
    .header__nav--index {
        pointer-events: none;
        visibility: hidden;
        }
    .nav__back--x,
    .nav__back--info {
        display: block;
        }
}

.is-menu-open {
    .overlay {
        background-color: $white;
        }
}

.is-config {
    .page {
        display: block;
        }
    .info__text .sqs-layout {
        outline: 1px solid $white;
        padding: 50px 0;
        }
}
